---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>This is the blog of Stephen Haberman.</p>

              <p>After years of thinking I didn't have much to contribute, my ego has convinced me otherwise--but we'll see if that's true or not.</p>

              <p>Either way, I enjoy writing things up because it leads to more organized thoughts.</p>

              <p>I started my career doing enterprise Java consulting, back when that was a thing,
                but since 2008 have worked for startups,
                first at an adtech startup <a href="http://www.bizo.com">Bizo</a>,
                which was acquired by <a href="http://www.linkedin.com">LinkedIn</a>,
                a short stint at <a href="http://www.remind.com">Remind</a>,
                and now <a href="http://www.homebound.com">Homebound</a>.
              </p>

              <p>I enjoy software development a little too much. It makes me good at what I
              do, but it also brings out some of my draconian tendencies.</p>

              <p>
                Feel free to email me about software things at <a href="mailto:stephen.haberman@gmail.com">stephen.haberman@gmail.com</a>.
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <div class="flex gap-x-2">
              <Link href="/tags"> Posts by tag </Link>
              <Link href="/posts"> All posts </Link>
            </div>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {blog.map((post) => (<li><ArrowCard entry={post} /></li>))}
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {projects.map((project) => (<li><ArrowCard entry={project} /></li>))}
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Contact Info
          </h2>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-4 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.TITLE}`}>
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
